[submodule "vim/.vim/bundle/vimproc"]
	path = vim/.vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule "vim/.vim/bundle/neobundle.vim"]
	path = vim/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
